.loading__wrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

    background: linear-gradient(45deg, #151515 0%, #3c3c3c 20%, #c0c0c0 40%, #cbcbcb 60%, #3c3c3c 80%, #151515 100%);
    background-size: 600%;
    background-position: 0% 100%;
    -webkit-animation: gradient 7s ease-in-out infinite;
    animation: gradient 7s ease-in-out infinite;
}

.loading {
    display: flex;
    height: 100vh;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 6px;
    overflow: hidden;
}

.water-fill {
    animation: wave 0.7s infinite linear,
        fill-up 7s infinite ease-out alternate;
}

@media(max-width:680px) {
    .loading svg {
        transform: scale(0.5);
    }
}

@keyframes wave {
    0% {
        x: -400px;
    }

    100% {
        x: 0;
    }
}


@keyframes fill-up {
    0% {
        height: 0;
        y: 130px;
    }

    100% {
        height: 160px;
        y: -30px;
    }
}

@-webkit-keyframes gradient {
    50% {
        background-position: 100% 0%;
    }
}

@keyframes gradient {
    50% {
        background-position: 100% 0%;
    }
}

.loader-inner {
    flex: 1;
    padding: 2rem 0;
    text-align: center;
}

#reload {
    width: 16px;
    height: 16px;
    margin-top: 1rem;
    fill: #fff;
    opacity: .6;
    cursor: pointer;
    transform: scale(0);
    transition: transform 300ms ease;
}

#reload:hover {
    opacity: 1;
}

#reload.active {
    transform: scale(1);
}

canvas {
    transition: opacity 300ms ease;
}

.canvas-wrapper {
    position: relative;
    padding: 2rem 20px 0;
}