# flyctl launch added from .gitignore
**\App\server\node_modules
**\App\server\package-lock.json
**\App\server\config\dev.js
**\App\client\node_modules
**\App\client\package-lock.json

# flyctl launch added from App\client\.gitignore
App\client\**\node_modules
fly.toml
